$font: "kaffeesatz";
//$font: "Yanone Kaffeesatz";
$sans: "Proxima Nova";

#gray-background {
	background-image: url('../images/background.jpg');
	background-repeat: repeat;
	height:6500px;
}

.navbar {
	height:67px;
	margin-bottom:0px;

	.brand {
		padding:0;
	}
	.nav-container {
		margin-left: auto;
		margin-right: auto;
		width:940px;
	}
	.nav-supporters {
		margin-top:13px;
		float:right;
	}
}


#rep-form {margin-bottom:0px;}
.overlay {
	position:fixed;
	z-index: 5;
	bottom: 0px;
	left: 0;
	right: 0;
	height: 54px;
	background-color:#171717;
	.convinced {
		height: auto;
		width: auto;
		margin-top: -49px;
		margin-left: 225px;
		position: fixed;
		right: 20px;
		bottom: 2px;
	}
}

h1, h2, h3, h4, p {
	font-family:$font;
	color:#f1f1f1;
	font-weight:300;
}

#step1 {
	margin-top:50px;

	h1 {
		font-family: $font;
		font-size: 60px;
		text-align:center;
		color: #f1f1f1;
		font-weight:300;
		letter-spacing: 1;
	}

	.not-quite {
		margin-top:60px;
		margin-bottom:60px;
	}

	h2 {
		font-family: $font;
		text-align:center;
		color: #f1f1f1;
		font-weight:300;
		font-size: 30px;
	}
}

#two {
	margin-top:140px;
}
#step2 {
	
	background-image: url('../images/computer.png');
	background-repeat:no-repeat;
	background-position:center;
	height:1200px;
	text-align:center;

	.phone {
		width:610px;
		height:310px;
		margin-left:100px;
		padding-top:120px;

		p {
			font-size:36px;
		}

		.below{
			margin-top:140px;
			line-height: 1.1;
		}
	}

	.computer {
		width:600px;
		height:360px;
		margin-top:300px;
		margin-left:150px;

		p{
			font-size:38px;	
			line-height: 1;
		}

		.blue {
			color:#62c8de;
			font-size:44px;
			margin-top:120px;
		}

		.pink {
			color: #d41f41;
			font-size:44px;
		}
	}
}

#three {
		padding-top:150px;
		margin-top:150px;
}
#step3 {
	h2 {
		font-size:60px;
		}
	h3 {
		color:#e53f4d;
		font-size:48px;
		margin-top:30px;
		}
	p {
		margin-top:20px;
		font-size: 30px;
		line-height:1.3;
		font-weight:100;
		color:rgb(179, 179, 179);
		}

	.smaller {
		font-size:24px;
	}
}

#four, #five, #six, #seven {
	margin-top:150px;
	padding-top:150px;
}
#step4, #step5, #step6 {
	h2{
		font-size:48px;
		text-align:center;
		margin-top: 20px;
		line-height:1.1;
	}
}

#step7 {
	h2 {
		font-size:42px;
		text-align:center;
		margin-top: 20px;
		letter-spacing: 1;
	}
	h3 {
		margin-top:20px;
		color: #e1d400;
		font-size:30px;
		text-align:center;
		letter-spacing: 1;
	}

	h4 {
		margin-top:20px;
		color:#e10000;
		font-size:48px;
		text-align:center;
		letter-spacing: 1;
	}

	p {
		font-size:30px;
		text-align:center;
		font-weight:100;
		margin-top:30px;
		color:#cecece;
		line-height: 1.4;
		letter-spacing: 1;
	}

	.smaller {
		font-size:24px;
		text-align:center;
		font-weight:100;
	}
}
#eight {
	margin-top:70px;
	padding-top:100px;
}
#step8 {
	h3 {
		font-size:32px;
		color: #cecece;
		text-align:center;
		margin-top:30px;
		margin-bottom:30px;
	}
}

.add {
	margin-left:40px;
	font-family:$font;
	font-size:18px;
}
#blue {
	background-image: url('../images/blue.png');
	background-repeat:repeat;
	height:1090px;
	padding-top:50px;

		p {
			font-size:30px;
			line-height: 1.5;
			margin-left:15px;
			margin-top:25px;
			color:#ffffff;
		}

		.pink-lift {

		}

		li {
			list-decoration:none;
			font-family:$font;
			font-size:28px;
			line-height:2;
			margin-left:5px;
			color:#ffffff;
			font-weight:100;
			letter-spacing: 1;
		}
	

	h1, h2 {

		margin-top:50px;
		margin-bottom:50px;
		font-size:42px;
		line-height: 1.2;
	}
	h1 {
		color:#faf692;
		text-align:left;
	}

	h2 {
		text-transform:uppercase;
		letter-spacing: 3;
		text-align:center;
		font-size:60px;
	}

	.supporters {
		margin-top:30px;
		h1 {
			text-align: left;
			margin-left:15px;
		}

		.supporter-list {
			li {
				list-style: none;
				list-style-image: none;
				list-decoration:none;
				margin-top:-2px;
				font-size:18px;
			}

			a {
				color:#f1f1f1;
				&:hover {
					color:#9d9d9d;
					text-decoration: none;
				}
			}
		}
	}
}

.mustard {
	background-image:url('../images/mustard.jpg');
	height:135px;
	h3 {
		font-size:36px;
		color: #353535;
		text-align:center;
		margin-top:30px;
		line-height:1.7;
		letter-spacing: 1.3;
	}

	p {
		color:#353535;
		font-size:24px;
		margin-top:15px;
		text-align:left;
	}

	h2 {
		font-size:30px;
		color:#353535;
		margin-top:0px;
		margin-bottom:0px;
		text-align:left;
	}

}

.join {
	background-image: url('../images/join.png');
	height:75px;
	margin-top:-1px;

	h2 {
		margin:0px;
		padding-top:17px;
		padding-bottom:17px;
		text-transform:uppercase;
		text-align:center;
		font-weight:400;
		font-size:34px;
	}

	.container {
		padding-top:30px;

		.action {
			border:1px solid #b0b0b0;
			padding:15px;
			float:left;
			width:100%;
			color: #353535;	
			margin-top:-1px;
			
			.hide {
				display:none;
			}

			p {
				color: #353535;	
				font-size:24px;
				font-weight:100;
			}

			.actiontitle {
				h3 {
				font-family: $font;
				font-size:37px;
				float:left;
				font-weight:400;
				color: #353535;	
				letter-spacing: 1;
				margin-left:-10px;
				}
				p {
					font-family: $font;
					font-size:22px;
					height:40px;
					padding-top:1px;
					font-weight:100;
				}
			}

			.share, .legislator {

				padding-top:20px;

				.alabel {
					width:100px;
					float:left;
					font-family: $font;
					font-size:22px;
					height:40px;
					padding-top:1px;
					font-weight:100;
				}

				.socialcontent {
					float:left;
					width:360px;
				}
			}

			.legislator{
				padding-top:0px;
				padding-bottom:5px;
				.alabel {
					width:170px;
				}

				.span6 {padding-top:20px;}

				.zipcode {
					float:left;
					width:250px;
					margin-bottom:10px;

					input {
					height:35px;
					margin-top:-10px;
					width:100px;	
						margin-bottom:4px;
					}

					#zipsubmit {
						background-color: #2ecc71;
						background-image:none;
						margin-top:-10px;
						margin-bottom:4px;
						margin-left:10px;
					}
				}

				#choosereason {
					margin-top:38px;
					//font-family: $font;

					.options {
						margin-left:80px;
					}

					label {
						font-size:17px;
						font-weight:300;
						margin-top:20px;
					}

					p {
						font-weight:400;
						letter-spacing: 1;
					}
				}

				#legtweets {

					margin-top:25px;


					.legtweet {
						
						font-size:15px;
						border: 1px #ccc solid;
						background: #f6f6f6;
						margin:5px;
						margin-left:25px;
						padding: 5px 15px 5px 15px;

						.span2 {
							margin-left:20px;
							text-align:right;
							margin-top:4px;
						}

						.span9 {margin-left:0;
							margin-top:10px;}

						.blue {color: #2980B9;}
					}

				}

			}
		}

		.email {
			padding-left:13px;

			.check-in{
				margin-top:-5px;

				input[type="checkbox"] {
					display:inline;
					float:left;
				}

				label.label-optin {
					display:inline;
					margin-top:8px;
					margin-left:10px;
					float:left;
					letter-spacing: 0.5;
				}
			}
			h3 {
				font-family: $font;
				font-size:37px;
				font-weight:400;
				color: #353535;	
				letter-spacing: 1;
			}

			p {
				font-size:24px;
				font-family:$font;
				letter-spacing:1;
			}

			#email-form{
				margin-top:50px;

				label {
					font-family: $font;
					font-size: 14px;
					color: #353535;
					font-weight: 300;
					font-family: Arial;
					margin-bottom:0;
				}

				label.error {
					font-size:13px;
					color: #B94A45;
					}

				input {
					display:inline;
					height:30px;
					margin-top:3px;
					margin-bottom:0px;
				}

				div {margin-right:10px;}

				.name {
					float:left;
					display:inline;
					input {width:175px;}
				}

				.email, .street {
					width:210px;
					float:left;
					display:inline;
					input {width:195px;}
				}

				.zip {
					float:left;
					display: inline;
					input {width:90px;}
				}

				#email-send{
					width: 130px;
					height:54px;
					margin-top:9px;
					float:right;
					background-color: #2ecc71;
					background-image:none;
				}
			}

			.behalf {
				margin-top: 40px;
			}

			.email-text {
				font-family:"Arial";
				font-size:13px;
				color: #353535;
				letter-spacing: 0;
				padding-right:15px;
				margin-top:25px;
			}

		}
	}


}


.about {
	background-image: url('../images/background.jpg');
	background-repeat: repeat;
	min-height:140px;
	margin-top:80px;

	h2 {
		padding-bottom:0px;
		padding-top:0px;
		text-align: left;
	}

	#small-arrow{
		margin-top: -7px;
		margin-left: 10px;
	}

	.about-push {
		margin-top:20px;
	}
	img.face {margin-top:15px;}

	h4{
		color:#e1d400;
		font-family: 'Arial';
	}

	p {
		font-size:15px;
		font-family: 'Arial';
	color: #aaa;
	}
}

.announcement {


	#blue, #bottomsection {
		height: auto;
		padding-bottom:15px;
		padding-top:30px;

		p, ul li {
  			font-family: "Proxima Nova", "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  			font-size:1.3em;
  			line-height:130%;
  			margin-top:15px;	
		}
		
		p {
			margin-left: 0px;
		}

		ul {
		margin-top:15px;
		}

		h1 {
			margin: 0px 0px 20px 0px;
			font-size:44px;
			font-weight:400;
		}

		h3 {
			font-size: 2.3em;
			margin-top:35px;
			margin-bottom:25px;
			color: #2980b9;
		}
		h3 {margin: 0; width: inherit;}

		h2 {
			color: #2980b9;
			text-align: left;
			text-transform: none;
		}

		.join {
			background-image:none; 
			background-color: none; 
			padding-top:0;
			height: auto;
			
			.callout {
				border-top: 8px solid #e68614;
				border-bottom: 15px solid #d9d9d9;
				background: #fff;
				background: -moz-linear-gradient(top,#fff 0,#eaeaea 100%);
				background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#eaeaea));
				background: -webkit-linear-gradient(top,#fff 0,#eaeaea 100%);
				background: -o-linear-gradient(top,#fff 0,#eaeaea 100%);
				background: -ms-linear-gradient(top,#fff 0,#eaeaea 100%);
				background: linear-gradient(to bottom,#fff 0,#eaeaea 100%);
				border-radius: 5px;
				-webkit-box-shadow: 0 1px 9px 0 rgba(0,0,0,0.7);
				box-shadow: 0 1px 9px 0 rgba(0,0,0,0.7);
			}

			.container {
				background-image:none; 
				background-color: #fff; 
				padding-top:0;
				margin-top:25px;

				p {color: #353535;}

				.email-text {
					font-size:14px;
				}

				.action {
					margin:15px;
					width: 98%;
					padding:0;
					border: none;
				}

				.email {
					#email-form {
						margin-top:10px;
					}
					padding-left:0;
				}

			}

		}
	}


	#bottomsection {
		padding-bottom: 0px;
		h2 {
  			font-family: "Proxima Nova", "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  			font-size:2em;
  			padding-bottom:0px;
  			margin-bottom:20px;
  			color: #102A4B;
		}

		h3 {
  			font-family: "Proxima Nova", "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  			font-size:1.6em;
  			margin: 20px 0 0px 0;
  			color: #2A5F92;
  			font-weight:400;
		}
		
		ul {padding-left:30px;
			}

		p { margin-top:5px}
	}
	
}


.modal {
  display: none;
  width: 400px;
  background: #fff;
  padding: 15px 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;

  	p {
  		font-family: "Proxima Nova", "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
		color: #333;
		font-size: 21px;
		line-height:140%;
  	}
}

.modal a.close-modal {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url(close.png) no-repeat 0 0;
}



// NEW CSS FOR REDESIGN - sohail is the greatest
#redesign {
	header, #slidedeck, #infographic {
		background-color: #ecf0f1;
	}

	header {
		padding-top:8px;
		.header-bar {
			height:3px;
			background-color: #bdc3c7;
			width:100%;
			margin-top:53px;
		}
		.header-border {
			border-bottom: 1px #bdc3c7 solid;
			padding-bottom:2px;
		}

		.logo {
			margin-left:auto;
			margin-right:auto;
		}

		h1 {
			font-family: $sans;
			font-size:40px;
			color:#c0392b;
			letter-spacing: -2px;
			text-align: center;
			margin: 30px 0 30px 0;
		}

	}

	.pull-right {
		float:right;
	}

	.pull-left {
		float:left;
	}

	#slidedeck {
		
		.fixed-right {
			position: fixed;
			top: 0px;

		}

		.stuck-right {
			position: absolute;
			top: 2061px;
		}

		#join-form {
			.blue-header {
				height:60px;
				width:100%;
				background-color: #2980b9;

				h2 {
					font-family: $sans;
					text-align:center;
					font-size:22px;
					font-weight:500;
					padding-top:10px;
					letter-spacing: -1px;
				}
			}
				
			.white-body {
				background-color:white;
				height:230px;
				margin-top:5px;

				.clipboard {
					padding:5px 0 10px 0;
				}

				.form {
					padding: 0 10px 0 10px;
				}

				input {
					width:187px;
					height:30px;
					background-color:#ecf0f1;
					border: 1px #6cd0bd solid;
					border-radius: 5px;
				}

				button {
					border-radius: 3px;
					height:60px;
					width:200px;
					background-color:#e74c3c;
					font-size:20px;
					color:white;
					font-family: $sans;
					border:none;
					-moz-box-shadow: 2px 2px 2px rgb(197, 197, 197);
					-webkit-box-shadow: 2px 2px 2px rgb(197, 197, 197);
					box-shadow: 2px 2px 2px rgb(197, 197, 197);
				}
			}

			.social-footer {
				height:55px;
				width:100%;
				background-color: white;
				margin-top:10px;
			}
		}
	}

	#infographic {
		height:1800px;

		.supporters-image {
			margin-bottom:50px;
			margin-left:0;
		}
	}

	#examples {
		background-color: #2980b9;
		padding-top:20px;
		padding-bottom:30px;

		.examples-h2 {
			width:100%;
			background-color: #5e9ec8;
			height:53px;
			margin-bottom:20px;

			h2{
				font-family:$sans;
				font-size:28px;
				color:#ecf0f1;
				font-weight: 100;
				padding-top:8px;
				padding-left:20px;
			}
		}

		.examples-link {
			font-size:20px;
			font-weight:500;
			color:#f1c40f;
			margin-top:25px;
			margin-bottom:5px;
		}

		p {
			font-family: $sans;
			font-color:#ecf0f1;
			font-size:13px;
			margin-left:20px;
			font-weight:100;
		}
	}

	#news-press{
		height:380px;
		.news-color {
			background-color: #7f8c8d;
			height:380px;
			float:left;
			width:50%;
		}

		.press-color {
			background-color:#616d6e;
			height:380px;
			float:right;
			width:50%;
		}

		h2 {
			font-family: $sans;
			font-size:28px;
			font-color:white;
			font-weight: 100;
			margin-left:20px;
			padding-top:8px;
		}

		a, p {
			font-family: $sans;
			font-size:14px;
			font-weight:100;
			margin-top:0;
			color:white;

		}

		.press-list, .news-list {
			margin-left: 20px;
		}

		.news-div {
			margin-left: 0px;
			margin-right: 20px;
			float:right;
		}

		.news-h2 {
			height:53px;
			width:100%;
			background-color:#9ca7a8;
			margin-bottom:20px;
		}

		.date {
			color: #d2f6fb;
			font-size:14px;
			font-weight:bold;
			margin-top:20px;
			margin-bottom:0;
		}

		.press-h2 {
			height:53px;
			width:100%;
			background-color:#879091;
			margin-bottom:20px;
		}

		.press-name {
			font-size: 13px;
			font-weight:bold;
			color: #e1ba23;
			margin-bottom:0;
			margin-top:9px;
		}

	}

	#fix-supporters {
		height:430px;
		background-color:#ffe9ad;

		h2 {
			font-family: $sans;
			font-size:18px;
			font-weight:bold;
			color: #34495e;
			margin-top:30px;
			margin-bottom:15px;
		}
		h4 {
			font-family: $sans;
			font-size: 15px;
			font-weight: 500;
			color: #27ae60;
			letter-spacing: -1px;
			margin-bottom:3px;
		}

		p {
			font-family: $sans;
			font-size:14px;
			color: #34495e;
			letter-spacing: -1px;
			font-weight:100;
			margin-top:0;
		}
	}

	#organizations {
		height:310px;
		h4 {
			text-align:center;
			font-family: $sans;
			font-size:18px;
			color: #34495e;
			font-weight:bold;
			margin-top:20px;
			margin-bottom:30px;
		}

		.organizations-img {
		}

		h5 {
			text-align: center;
			font-family: $sans;
			font-size: 12px;
			color:#34495e;
			margin-top:40px;
			margin-bottom:3px;
			text-transform: uppercase;
			font-weight:100;
		}

		.organization-list {
			text-align: center;
			color: #c0392b;

			li {
				display:inline;
				color: #2980b9;
				font-family: $sans;
				font-size:12px;
				font-weight:bold;
			}
			.blue {
				color:#2c3e50;
			}
		}
	}

	footer {
		background-color:#2c3e50;
		height:110px;
		padding-top:30px;
		font-size:12px;
		img {margin-left:15px;}
		a {display:inline;}
		a,p {font-family:$sans;}
		.footer-about{
			margin-top:30px;
			a {color:#f1c40f;}
		}
		.lisence {
			color: #3498db;
		}

	}

}


