#gray-background {
  background-image: url("../images/background.jpg");
  background-repeat: repeat;
  height: 6500px; }

.navbar {
  height: 67px;
  margin-bottom: 0px; }
  .navbar .brand {
    padding: 0; }
  .navbar .nav-container {
    margin-left: auto;
    margin-right: auto;
    width: 940px; }
  .navbar .nav-supporters {
    margin-top: 13px;
    float: right; }

#rep-form {
  margin-bottom: 0px; }

.overlay {
  position: fixed;
  z-index: 5;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 54px;
  background-color: #171717; }
  .overlay .convinced {
    height: auto;
    width: auto;
    margin-top: -49px;
    margin-left: 225px;
    position: fixed;
    right: 20px;
    bottom: 2px; }

h1, h2, h3, h4, p {
  font-family: "kaffeesatz";
  color: #f1f1f1;
  font-weight: 300; }

#step1 {
  margin-top: 50px; }
  #step1 h1 {
    font-family: "kaffeesatz";
    font-size: 60px;
    text-align: center;
    color: #f1f1f1;
    font-weight: 300;
    letter-spacing: 1; }
  #step1 .not-quite {
    margin-top: 60px;
    margin-bottom: 60px; }
  #step1 h2 {
    font-family: "kaffeesatz";
    text-align: center;
    color: #f1f1f1;
    font-weight: 300;
    font-size: 30px; }

#two {
  margin-top: 140px; }

#step2 {
  background-image: url("../images/computer.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 1200px;
  text-align: center; }
  #step2 .phone {
    width: 610px;
    height: 310px;
    margin-left: 100px;
    padding-top: 120px; }
    #step2 .phone p {
      font-size: 36px; }
    #step2 .phone .below {
      margin-top: 140px;
      line-height: 1.1; }
  #step2 .computer {
    width: 600px;
    height: 360px;
    margin-top: 300px;
    margin-left: 150px; }
    #step2 .computer p {
      font-size: 38px;
      line-height: 1; }
    #step2 .computer .blue {
      color: #62c8de;
      font-size: 44px;
      margin-top: 120px; }
    #step2 .computer .pink {
      color: #d41f41;
      font-size: 44px; }

#three {
  padding-top: 150px;
  margin-top: 150px; }

#step3 h2 {
  font-size: 60px; }
#step3 h3 {
  color: #e53f4d;
  font-size: 48px;
  margin-top: 30px; }
#step3 p {
  margin-top: 20px;
  font-size: 30px;
  line-height: 1.3;
  font-weight: 100;
  color: #b3b3b3; }
#step3 .smaller {
  font-size: 24px; }

#four, #five, #six, #seven {
  margin-top: 150px;
  padding-top: 150px; }

#step4 h2, #step5 h2, #step6 h2 {
  font-size: 48px;
  text-align: center;
  margin-top: 20px;
  line-height: 1.1; }

#step7 h2 {
  font-size: 42px;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 1; }
#step7 h3 {
  margin-top: 20px;
  color: #e1d400;
  font-size: 30px;
  text-align: center;
  letter-spacing: 1; }
#step7 h4 {
  margin-top: 20px;
  color: #e10000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 1; }
#step7 p {
  font-size: 30px;
  text-align: center;
  font-weight: 100;
  margin-top: 30px;
  color: #cecece;
  line-height: 1.4;
  letter-spacing: 1; }
#step7 .smaller {
  font-size: 24px;
  text-align: center;
  font-weight: 100; }

#eight {
  margin-top: 70px;
  padding-top: 100px; }

#step8 h3 {
  font-size: 32px;
  color: #cecece;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }

.add {
  margin-left: 40px;
  font-family: "kaffeesatz";
  font-size: 18px; }

#blue {
  background-image: url("../images/blue.png");
  background-repeat: repeat;
  height: 1090px;
  padding-top: 50px; }
  #blue p {
    font-size: 30px;
    line-height: 1.5;
    margin-left: 15px;
    margin-top: 25px;
    color: #ffffff; }
  #blue li {
    list-decoration: none;
    font-family: "kaffeesatz";
    font-size: 28px;
    line-height: 2;
    margin-left: 5px;
    color: #ffffff;
    font-weight: 100;
    letter-spacing: 1; }
  #blue h1, #blue h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 42px;
    line-height: 1.2; }
  #blue h1 {
    color: #faf692;
    text-align: left; }
  #blue h2 {
    text-transform: uppercase;
    letter-spacing: 3;
    text-align: center;
    font-size: 60px; }
  #blue .supporters {
    margin-top: 30px; }
    #blue .supporters h1 {
      text-align: left;
      margin-left: 15px; }
    #blue .supporters .supporter-list li {
      list-style: none;
      list-style-image: none;
      list-decoration: none;
      margin-top: -2px;
      font-size: 18px; }
    #blue .supporters .supporter-list a {
      color: #f1f1f1; }
      #blue .supporters .supporter-list a:hover {
        color: #9d9d9d;
        text-decoration: none; }

.mustard {
  background-image: url("../images/mustard.jpg");
  height: 135px; }
  .mustard h3 {
    font-size: 36px;
    color: #353535;
    text-align: center;
    margin-top: 30px;
    line-height: 1.7;
    letter-spacing: 1.3; }
  .mustard p {
    color: #353535;
    font-size: 24px;
    margin-top: 15px;
    text-align: left; }
  .mustard h2 {
    font-size: 30px;
    color: #353535;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left; }

.join {
  background-image: url("../images/join.png");
  height: 75px;
  margin-top: -1px; }
  .join h2 {
    margin: 0px;
    padding-top: 17px;
    padding-bottom: 17px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 34px; }
  .join .container {
    padding-top: 30px; }
    .join .container .action {
      border: 1px solid #b0b0b0;
      padding: 15px;
      float: left;
      width: 100%;
      color: #353535;
      margin-top: -1px; }
      .join .container .action .hide {
        display: none; }
      .join .container .action p {
        color: #353535;
        font-size: 24px;
        font-weight: 100; }
      .join .container .action .actiontitle h3 {
        font-family: "kaffeesatz";
        font-size: 37px;
        float: left;
        font-weight: 400;
        color: #353535;
        letter-spacing: 1;
        margin-left: -10px; }
      .join .container .action .actiontitle p {
        font-family: "kaffeesatz";
        font-size: 22px;
        height: 40px;
        padding-top: 1px;
        font-weight: 100; }
      .join .container .action .share, .join .container .action .legislator {
        padding-top: 20px; }
        .join .container .action .share .alabel, .join .container .action .legislator .alabel {
          width: 100px;
          float: left;
          font-family: "kaffeesatz";
          font-size: 22px;
          height: 40px;
          padding-top: 1px;
          font-weight: 100; }
        .join .container .action .share .socialcontent, .join .container .action .legislator .socialcontent {
          float: left;
          width: 360px; }
      .join .container .action .legislator {
        padding-top: 0px;
        padding-bottom: 5px; }
        .join .container .action .legislator .alabel {
          width: 170px; }
        .join .container .action .legislator .span6 {
          padding-top: 20px; }
        .join .container .action .legislator .zipcode {
          float: left;
          width: 250px;
          margin-bottom: 10px; }
          .join .container .action .legislator .zipcode input {
            height: 35px;
            margin-top: -10px;
            width: 100px;
            margin-bottom: 4px; }
          .join .container .action .legislator .zipcode #zipsubmit {
            background-color: #2ecc71;
            background-image: none;
            margin-top: -10px;
            margin-bottom: 4px;
            margin-left: 10px; }
        .join .container .action .legislator #choosereason {
          margin-top: 38px; }
          .join .container .action .legislator #choosereason .options {
            margin-left: 80px; }
          .join .container .action .legislator #choosereason label {
            font-size: 17px;
            font-weight: 300;
            margin-top: 20px; }
          .join .container .action .legislator #choosereason p {
            font-weight: 400;
            letter-spacing: 1; }
        .join .container .action .legislator #legtweets {
          margin-top: 25px; }
          .join .container .action .legislator #legtweets .legtweet {
            font-size: 15px;
            border: 1px #cccccc solid;
            background: #f6f6f6;
            margin: 5px;
            margin-left: 25px;
            padding: 5px 15px 5px 15px; }
            .join .container .action .legislator #legtweets .legtweet .span2 {
              margin-left: 20px;
              text-align: right;
              margin-top: 4px; }
            .join .container .action .legislator #legtweets .legtweet .span9 {
              margin-left: 0;
              margin-top: 10px; }
            .join .container .action .legislator #legtweets .legtweet .blue {
              color: #2980B9; }
    .join .container .email {
      padding-left: 13px; }
      .join .container .email .check-in {
        margin-top: 0px; }
        .join .container .email .check-in input[type="checkbox"] {
          display: inline;
          float: left; }
        .join .container .email .check-in label.label-optin {
          display: inline;
          margin-top: 12px;
          margin-left: 10px;
          float: left;
          letter-spacing: 0.5; }
      .join .container .email h3 {
        font-family: "kaffeesatz";
        font-size: 37px;
        font-weight: 400;
        color: #353535;
        letter-spacing: 1; }
      .join .container .email p {
        font-size: 24px;
        font-family: "kaffeesatz";
        letter-spacing: 1; }
      .join .container .email #email-form {
        margin-top: 50px; }
        .join .container .email #email-form label {
          font-family: "kaffeesatz";
          font-size: 14px;
          color: #353535;
          font-weight: 300;
          font-family: "Arial"; }
        .join .container .email #email-form input {
          display: inline;
          height: 30px;
          margin-top: 8px; }
        .join .container .email #email-form div {
          margin-right: 15px; }
        .join .container .email #email-form .name {
          width: 175px;
          float: left;
          display: inline; }
          .join .container .email #email-form .name input {
            width: 175px; }
        .join .container .email #email-form .email, .join .container .email #email-form .street {
          width: 210px;
          float: left;
          display: inline; }
          .join .container .email #email-form .email input, .join .container .email #email-form .street input {
            width: 195px; }
        .join .container .email #email-form .zip {
          width: 90px;
          float: left;
          display: inline; }
          .join .container .email #email-form .zip input {
            width: 90px; }
        .join .container .email #email-form #email-send {
          width: 130px;
          height: 54px;
          margin-top: 20px;
          float: right;
          background-color: #2ecc71;
          background-image: none; }
      .join .container .email .behalf {
        margin-top: 40px; }
      .join .container .email .email-text {
        font-family: "Arial";
        font-size: 13px;
        color: #353535;
        letter-spacing: 0;
        padding-right: 15px;
        margin-top: 25px; }

.about {
  background-image: url("../images/background.jpg");
  background-repeat: repeat;
  min-height: 140px;
  margin-top: 80px; }
  .about h2 {
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left; }
  .about #small-arrow {
    margin-top: -7px;
    margin-left: 10px; }
  .about .about-push {
    margin-top: 20px; }
  .about img.face {
    margin-top: 15px; }
  .about h4 {
    color: #e1d400;
    font-family: 'Arial'; }
  .about p {
    font-size: 15px;
    font-family: 'Arial'; }
