body {
  font-family: "Proxima Nova";
  color: #2c3e50; }

header, #slidedeck, section#postsignup, #infographic {
  background-color: #ecf0f1; }

button:hover {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)); }

header {
  padding-top: 8px; }
  header .header-bar {
    height: 3px;
    background-color: #bdc3c7;
    width: 100%;
    margin-top: 53px; }
    @media (min-width: 768px) and (max-width: 979px) {
      header .header-bar {
        margin-top: 43px; } }
  @media (min-width: 481px) and (max-width: 767px) {
    header [class*="span"] {
      width: 33%;
      float: left; } }
  @media (max-width: 480px) {
    header [class*="span"] {
      width: 33%;
      float: left; }
    header .header-border {
      margin-top: -5px; } }
  header .header-border {
    border-bottom: 1px #bdc3c7 solid;
    padding-bottom: 2px; }
  header .logo {
    margin-left: auto;
    margin-right: auto; }
  header h1 {
    font-size: 40px;
    color: #c0392b;
    letter-spacing: -2px;
    text-align: center;
    margin: 30px 0 30px 0;
    font-weight: 100; }

.shadow, section#postsignup #actioncontainer h2, section#postsignup #actioncontainer .contents {
  -moz-box-shadow: 1px 1px 3px 1px gainsboro;
  -webkit-box-shadow: 1px 1px 3px 1px gainsboro;
  box-shadow: 1px 1px 3px 1px gainsboro; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

#slidedeck .deck-dim, section#postsignup .deck-dim {
  width: 100%;
  height: 450px; }
  @media (max-width: 480px) {
    #slidedeck .deck-dim, section#postsignup .deck-dim {
      height: 280px; } }
@media (min-width: 980px) {
  #slidedeck .fixed-right, section#postsignup .fixed-right {
    position: fixed;
    top: 177px; } }
@media (min-width: 768px) and (max-width: 979px) {
  #slidedeck .fixed-right, section#postsignup .fixed-right {
    top: 204px;
    position: absolute; } }
@media (max-width: 767px) {
  #slidedeck .fixed-right, section#postsignup .fixed-right {
    position: fixed;
    bottom: 0px;
    border-top: 1px #dbdbdb solid; } }
@media (min-width: 980px) {
  #slidedeck .stuck-right, section#postsignup .stuck-right {
    position: absolute;
    top: 2033px; } }
@media (max-width: 979px) {
  #slidedeck .stuck-right, section#postsignup .stuck-right {
    position: absolute;
    top: 204px; } }
@media (max-width: 767px) {
  #slidedeck #join-form, section#postsignup #join-form, #slidedeck section#postsignup #progress, section#postsignup #slidedeck #progress, section#postsignup #progress {
    width: 100%;
    margin-left: -10px;
    margin-right: 0;
    background-color: white;
    display: none; } }
@media (max-width: 767px) {
  #slidedeck #join-form .form, section#postsignup #join-form .form, #slidedeck section#postsignup #progress .form, section#postsignup #slidedeck #progress .form, section#postsignup #progress .form {
    text-align: center;
    display: inline;
    float: left;
    width: 100%; }
  #slidedeck #join-form label, section#postsignup #join-form label, #slidedeck section#postsignup #progress label, section#postsignup #slidedeck #progress label, section#postsignup #progress label {
    display: none; }
  #slidedeck #join-form .form-submit, section#postsignup #join-form .form-submit, #slidedeck section#postsignup #progress .form-submit, section#postsignup #slidedeck #progress .form-submit, section#postsignup #progress .form-submit {
    display: inline;
    float: right; } }
#slidedeck #join-form .blue-header, section#postsignup #join-form .blue-header, #slidedeck section#postsignup #progress .blue-header, section#postsignup #slidedeck #progress .blue-header, section#postsignup #progress .blue-header {
  height: 40px;
  width: 100%;
  background-color: transparent; }
  #slidedeck #join-form .blue-header h2, section#postsignup #join-form .blue-header h2, #slidedeck section#postsignup #progress .blue-header h2, section#postsignup #slidedeck #progress .blue-header h2, section#postsignup #progress .blue-header h2 {
    font-family: "Proxima Nova";
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
    letter-spacing: 2px;
    color: #2980b9; }
    @media (min-width: 768px) and (max-width: 979px) {
      #slidedeck #join-form .blue-header h2, section#postsignup #join-form .blue-header h2, #slidedeck section#postsignup #progress .blue-header h2, section#postsignup #slidedeck #progress .blue-header h2, section#postsignup #progress .blue-header h2 {
        font-size: 13px; } }
    @media (max-width: 767px) {
      #slidedeck #join-form .blue-header h2, section#postsignup #join-form .blue-header h2, #slidedeck section#postsignup #progress .blue-header h2, section#postsignup #slidedeck #progress .blue-header h2, section#postsignup #progress .blue-header h2 {
        font-size: 15px;
        padding-top: 0px;
        margin-top: 0; } }
#slidedeck #join-form .white-body, section#postsignup #join-form .white-body, #slidedeck section#postsignup #progress .white-body, section#postsignup #slidedeck #progress .white-body, section#postsignup #progress .white-body {
  background-color: #2c3e50;
  height: 130px;
  margin-top: 5px; }
  @media (min-width: 768px) {
    #slidedeck #join-form .white-body .form, section#postsignup #join-form .white-body .form, #slidedeck section#postsignup #progress .white-body .form, section#postsignup #slidedeck #progress .white-body .form, section#postsignup #progress .white-body .form {
      padding: 0 10px 0 12px; } }
  #slidedeck #join-form .white-body input, section#postsignup #join-form .white-body input, #slidedeck section#postsignup #progress .white-body input, section#postsignup #slidedeck #progress .white-body input, section#postsignup #progress .white-body input {
    width: 150px;
    height: 20px;
    margin-bottom: 0;
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #f1c40f;
    color: #f1c40f;
    border-radius: 0px;
    font-size: 15px;
    display: inline;
    float: left;
    padding-top: 16px;
    padding-bottom: 0px; }
    @media (min-width: 768px) and (max-width: 979px) {
      #slidedeck #join-form .white-body input, section#postsignup #join-form .white-body input, #slidedeck section#postsignup #progress .white-body input, section#postsignup #slidedeck #progress .white-body input, section#postsignup #progress .white-body input {
        width: 100px;
        padding-top: 18px; } }
  #slidedeck #join-form .white-body ::-webkit-input-placeholder, section#postsignup #join-form .white-body ::-webkit-input-placeholder, #slidedeck section#postsignup #progress .white-body ::-webkit-input-placeholder, section#postsignup #slidedeck #progress .white-body ::-webkit-input-placeholder, section#postsignup #progress .white-body ::-webkit-input-placeholder {
    color: #f1c40f; }
  #slidedeck #join-form .white-body :-moz-placeholder, section#postsignup #join-form .white-body :-moz-placeholder, #slidedeck section#postsignup #progress .white-body :-moz-placeholder, section#postsignup #slidedeck #progress .white-body :-moz-placeholder, section#postsignup #progress .white-body :-moz-placeholder {
    /* Firefox 18- */
    color: #f1c40f; }
  #slidedeck #join-form .white-body ::-moz-placeholder, section#postsignup #join-form .white-body ::-moz-placeholder, #slidedeck section#postsignup #progress .white-body ::-moz-placeholder, section#postsignup #slidedeck #progress .white-body ::-moz-placeholder, section#postsignup #progress .white-body ::-moz-placeholder {
    /* Firefox 19+ */
    color: #f1c40f; }
  #slidedeck #join-form .white-body :-ms-input-placeholder, section#postsignup #join-form .white-body :-ms-input-placeholder, #slidedeck section#postsignup #progress .white-body :-ms-input-placeholder, section#postsignup #slidedeck #progress .white-body :-ms-input-placeholder, section#postsignup #progress .white-body :-ms-input-placeholder {
    color: #f1c40f; }
  #slidedeck #join-form .white-body input:focus, section#postsignup #join-form .white-body input:focus, #slidedeck section#postsignup #progress .white-body input:focus, section#postsignup #slidedeck #progress .white-body input:focus, section#postsignup #progress .white-body input:focus {
    outline: none;
    box-shadow: none; }
  #slidedeck #join-form .white-body p, section#postsignup #join-form .white-body p, #slidedeck section#postsignup #progress .white-body p, section#postsignup #slidedeck #progress .white-body p, section#postsignup #progress .white-body p {
    color: white;
    font-family: "Proxima Nova";
    font-size: 18px;
    padding-left: 15px;
    padding-right: 12px;
    padding-top: 10px;
    display: inline;
    float: left;
    line-height: 2; }
  #slidedeck #join-form .white-body button, section#postsignup #join-form .white-body button, #slidedeck section#postsignup #progress .white-body button, section#postsignup #slidedeck #progress .white-body button, section#postsignup #progress .white-body button {
    border-radius: 3px;
    height: 60px;
    width: 200px;
    background-color: #e74c3c;
    font-size: 20px;
    color: white;
    font-family: "Proxima Nova";
    border: none;
    -moz-box-shadow: 2px 2px 2px #c5c5c5;
    -webkit-box-shadow: 2px 2px 2px #c5c5c5;
    box-shadow: 2px 2px 2px #c5c5c5; }
    @media (max-width: 767px) {
      #slidedeck #join-form .white-body button, section#postsignup #join-form .white-body button, #slidedeck section#postsignup #progress .white-body button, section#postsignup #slidedeck #progress .white-body button, section#postsignup #progress .white-body button {
        display: none; } }
    @media (min-width: 768px) and (max-width: 979px) {
      #slidedeck #join-form .white-body button, section#postsignup #join-form .white-body button, #slidedeck section#postsignup #progress .white-body button, section#postsignup #slidedeck #progress .white-body button, section#postsignup #progress .white-body button {
        width: 140px;
        height: 40px;
        font-size: 18px; } }
#slidedeck #join-form .emailbox, section#postsignup #join-form .emailbox, #slidedeck section#postsignup #progress .emailbox, section#postsignup #slidedeck #progress .emailbox, section#postsignup #progress .emailbox {
  background-color: #2c3e50;
  height: 80px;
  margin-top: 5px; }
  #slidedeck #join-form .emailbox label, section#postsignup #join-form .emailbox label, #slidedeck section#postsignup #progress .emailbox label, section#postsignup #slidedeck #progress .emailbox label, section#postsignup #progress .emailbox label {
    display: block;
    font-family: "Proxima Nova";
    color: white;
    margin-left: 10px;
    margin-top: 3px;
    padding-top: 9px;
    margin-bottom: 2px;
    font-weight: 100;
    font-size: 13px; }
#slidedeck #join-form .email-input, section#postsignup #join-form .email-input, #slidedeck section#postsignup #progress .email-input, section#postsignup #slidedeck #progress .email-input, section#postsignup #progress .email-input {
  width: 187px;
  height: 23px;
  background-color: #ecf0f1;
  border: 1px #f1c40f solid;
  border-radius: 5px;
  font-size: 13px;
  margin-left: 9px;
  float: left; }
  @media (min-width: 768px) and (max-width: 979px) {
    #slidedeck #join-form .email-input, section#postsignup #join-form .email-input, #slidedeck section#postsignup #progress .email-input, section#postsignup #slidedeck #progress .email-input, section#postsignup #progress .email-input {
      width: 127px; } }
#slidedeck #join-form button, section#postsignup #join-form button, #slidedeck section#postsignup #progress button, section#postsignup #slidedeck #progress button, section#postsignup #progress button {
  margin-left: 0px;
  margin-top: 5px;
  height: 50px;
  border-radius: 4px;
  background-color: #c0392b;
  background-image: -webkit-linear-gradient(top, #c0392b, #bd392b);
  color: white;
  border: none;
  font-family: "Proxima Nova";
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 1px; }
#slidedeck #join-form .social-footer, section#postsignup #join-form .social-footer, #slidedeck section#postsignup #progress .social-footer, section#postsignup #slidedeck #progress .social-footer, section#postsignup #progress .social-footer {
  height: 55px;
  width: 100%;
  background-color: transparent;
  margin-top: 10px; }
#slidedeck #ipad-form, section#postsignup #ipad-form {
  background-image: url("../images/light_black_fill.png");
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  height: 48px;
  display: none; }
  #slidedeck #ipad-form .white-body, section#postsignup #ipad-form .white-body {
    text-align: center;
    background-color: rgba(41, 127, 184, 0.9);
    display: inline;
    float: left;
    height: 44px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed; }
    #slidedeck #ipad-form .white-body input, section#postsignup #ipad-form .white-body input, #slidedeck #ipad-form .white-body label, section#postsignup #ipad-form .white-body label {
      display: inline; }
    #slidedeck #ipad-form .white-body .form, section#postsignup #ipad-form .white-body .form {
      margin-top: 3px; }
    #slidedeck #ipad-form .white-body label, section#postsignup #ipad-form .white-body label {
      margin: 0 10px 0 0;
      margin-top: -3px;
      color: white;
      font-weight: 100;
      font-size: 16px; }
      @media (max-width: 480px) {
        #slidedeck #ipad-form .white-body label, section#postsignup #ipad-form .white-body label {
          font-size: 12px;
          margin-right: 3px; } }
    #slidedeck #ipad-form .white-body input, section#postsignup #ipad-form .white-body input {
      margin-top: 5px;
      height: 19px;
      font-size: 13px;
      width: 140px; }
    #slidedeck #ipad-form .white-body button, section#postsignup #ipad-form .white-body button {
      width: 40px;
      border-radius: 4px;
      height: 29px;
      font-size: 14px;
      padding-top: 6px;
      margin-top: -5px;
      background-color: #e74c3c;
      color: white;
      font-weight: 100;
      font-family: "Proxima Nova";
      border: none;
      -moz-box-shadow: 2px 2px 2px rgba(41, 127, 184, 0.9);
      -webkit-box-shadow: 2px 2px 2px rgba(41, 127, 184, 0.9);
      box-shadow: 2px 2px 2px rgba(41, 127, 184, 0.9);
      display: inline; }

#infographic {
  min-height: 800px;
  padding-bottom: 30px; }
  #infographic .supporters-image {
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 0; }

#examples {
  background-color: #2980b9;
  padding-top: 20px;
  padding-bottom: 30px; }
  #examples .examples-h2 {
    width: 100%;
    background-color: #5e9ec8;
    min-height: 53px;
    margin-bottom: 20px; }
    #examples .examples-h2 h2 {
      font-family: "Proxima Nova";
      font-size: 28px;
      color: #ecf0f1;
      font-weight: 100;
      padding-top: 8px;
      padding-left: 20px; }
  #examples .examples-link {
    font-size: 20px;
    font-weight: 500;
    color: #f1c40f;
    margin-top: 25px;
    margin-bottom: 5px; }
  #examples p {
    font-family: "Proxima Nova";
    color: #ecf0f1;
    font-size: 13px;
    margin-left: 20px;
    font-weight: 100; }

#news-press {
  min-height: 380px;
  background-color: #7f8c8d; }
  #news-press .news-color {
    background-color: #7f8c8d;
    height: 380px;
    float: left;
    width: 50%; }
    @media (max-width: 610px) {
      #news-press .news-color {
        width: 100%;
        display: block;
        height: 300px; } }
  #news-press .press-color {
    background-color: #616d6e;
    height: 380px;
    float: right;
    width: 50%; }
    @media (max-width: 610px) {
      #news-press .press-color {
        width: 100%;
        display: block; } }
  #news-press h2 {
    font-family: "Proxima Nova";
    font-size: 28px;
    font-color: white;
    font-weight: 100;
    margin-left: 20px;
    padding-top: 8px; }
  #news-press a, #news-press p {
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 100;
    margin-top: 0;
    color: white; }
  #news-press .press-list, #news-press .news-list {
    margin-left: 20px; }
  @media (max-width: 960px) {
    #news-press .news-list {
      margin-left: 40px; } }
  #news-press .news-div {
    margin-left: 0px;
    margin-right: 20px;
    float: right; }
  #news-press .news-h2 {
    height: 53px;
    width: 100%;
    background-color: #9ca7a8;
    margin-bottom: 20px; }
    @media (min-width: 770px) and (max-width: 960px) {
      #news-press .news-h2 h2 {
        padding-left: 20px; } }
  #news-press .date {
    color: #d2f6fb;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0; }
  #news-press .press-h2 {
    height: 53px;
    width: 100%;
    background-color: #879091;
    margin-bottom: 20px; }
  #news-press .press-name {
    font-size: 13px;
    font-weight: bold;
    color: #e1ba23;
    margin-bottom: 0;
    margin-top: 9px; }

#fix-supporters {
  min-height: 430px;
  background-color: #ffe9ad; }
  #fix-supporters h2 {
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: bold;
    color: #34495e;
    margin-top: 30px;
    margin-bottom: 15px; }
  #fix-supporters h4 {
    font-family: "Proxima Nova";
    font-size: 15px;
    font-weight: 500;
    color: #27ae60;
    letter-spacing: -1px;
    margin-bottom: 3px; }
  #fix-supporters p {
    font-family: "Proxima Nova";
    font-size: 14px;
    color: #34495e;
    letter-spacing: -1px;
    font-weight: 100;
    margin-top: 0; }
  @media (max-width: 767px) {
    #fix-supporters [class*="span"], #fix-supporters .uneditable-input[class*="span"], #fix-supporters .row-fluid [class*="span"] {
      display: block;
      float: left;
      width: 50%;
      margin-left: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; } }

#organizations {
  min-height: 310px; }
  #organizations h4 {
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 18px;
    color: #34495e;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px; }
  #organizations h5 {
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 12px;
    color: #34495e;
    margin-top: 40px;
    margin-bottom: 3px;
    text-transform: uppercase;
    font-weight: 100; }
  #organizations .organization-list {
    text-align: center;
    color: #c0392b; }
    #organizations .organization-list li {
      display: inline;
      color: #2980b9;
      font-family: "Proxima Nova";
      font-size: 12px;
      font-weight: bold; }
    #organizations .organization-list .blue {
      color: #2c3e50; }

footer {
  background-color: #2c3e50;
  min-height: 110px;
  padding-top: 30px;
  font-size: 12px; }
  footer img {
    margin-left: 15px; }
  footer a {
    display: inline; }
  footer a, footer p {
    font-family: "Proxima Nova";
    margin-top: 30px;
    color: #f1c40f; }
  footer a {
    float: left; }
  footer p {
    color: white; }
  footer .lisence {
    color: #3498db; }
  footer .sina-link {
    float: none; }

@media (max-width: 767px) {
  #section {
    padding-left: 10px;
    padding-right: 10px; }

  padding-left: 0;
  padding-right: 0; }
header.postsignup h1 {
  margin: 20px 0 5px 0; }
  @media (max-width: 767px) {
    header.postsignup h1 {
      font-size: 29px; } }
header.postsignup h2 {
  font-size: 30px;
  color: #2c3e50;
  text-align: center;
  margin: 0px 0 20px 0;
  font-weight: 100; }
  @media (max-width: 767px) {
    header.postsignup h2 {
      width: 90%;
      font-size: 23px;
      line-height: 110%;
      margin: 0 auto 20px auto; } }

section#postsignup .actions {
  float: left;
  width: 720px;
  margin-bottom: 40px; }
  @media (min-width: 768px) and (max-width: 959px) {
    section#postsignup .actions {
      width: 558px; } }
  @media (max-width: 767px) {
    section#postsignup .actions {
      width: 100%; } }
section#postsignup #actioncontainer {
  margin-bottom: 20px; }
  section#postsignup #actioncontainer a:hover {
    text-decoration: none; }
  section#postsignup #actioncontainer h2 {
    font-size: 20px;
    background-color: #3f4b51;
    color: #ecf0f1;
    font-weight: 100;
    text-transform: uppercase;
    padding: 8px 0px 7px 20px;
    letter-spacing: 2px;
    margin-bottom: 4px;
    margin-top: 0; }
    @media (max-width: 767px) {
      section#postsignup #actioncontainer h2 {
        font-size: 15px;
        text-align: center; } }
    section#postsignup #actioncontainer h2 span {
      display: block;
      float: left;
      font-size: 30px;
      font-weight: 400;
      padding-right: 17px; }
      @media (max-width: 767px) {
        section#postsignup #actioncontainer h2 span {
          padding-right: 0px;
          margin-right: -25px; } }
  section#postsignup #actioncontainer p {
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    padding: 5px 0; }
  section#postsignup #actioncontainer .contents {
    background: #ddeaec;
    padding: 5px 5px 5px 10px; }
    @media (max-width: 767px) {
      section#postsignup #actioncontainer .contents {
        padding-left: 0; } }
    section#postsignup #actioncontainer .contents h4 {
      font-size: 22px;
      font-weight: 400;
      text-align: center;
      margin-top: 8px;
      line-height: 120%; }
      @media (min-width: 768px) and (max-width: 959px) {
        section#postsignup #actioncontainer .contents h4 {
          font-size: 18px; } }
      @media (max-width: 767px) {
        section#postsignup #actioncontainer .contents h4 {
          font-size: 22px;
          margin-bottom: 0px; } }
    section#postsignup #actioncontainer .contents .span8 p {
      text-align: left; }
      @media (max-width: 767px) {
        section#postsignup #actioncontainer .contents .span8 p {
          text-align: center;
          margin: 0 5px;
          padding-bottom: 15px; } }
    section#postsignup #actioncontainer .contents button {
      height: 50px;
      border-radius: 3px;
      background-color: #3498db;
      border: 0px;
      color: #fff;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 12px;
      width: 100%;
      padding-top: 4px;
      max-width: 220px;
      display: block;
      margin: 0 auto 10px auto; }
      @media (max-width: 979px) {
        section#postsignup #actioncontainer .contents button {
          height: 40px;
          font-size: 13px; } }
      section#postsignup #actioncontainer .contents button img#email, section#postsignup #actioncontainer .contents button img#phone {
        padding: 0 10px 3px 0; }
        @media (max-width: 979px) {
          section#postsignup #actioncontainer .contents button img#email, section#postsignup #actioncontainer .contents button img#phone {
            padding: 0 5px 3px 0;
            height: 50%; } }
      section#postsignup #actioncontainer .contents button img#phone {
        padding: 0 10px 4px 0; }
        @media (max-width: 979px) {
          section#postsignup #actioncontainer .contents button img#phone {
            padding: 0 5px 2px 0;
            height: 85%; } }
    section#postsignup #actioncontainer .contents button.social {
      width: 85px;
      height: 85px;
      border-radius: 50%;
      display: block;
      margin: 15px auto 0 auto; }
      @media (max-width: 979px) {
        section#postsignup #actioncontainer .contents button.social {
          width: 70px;
          height: 70px; } }
      @media (max-width: 767px) {
        section#postsignup #actioncontainer .contents button.social {
          margin-top: 10px; } }
      @media (max-width: 979px) {
        section#postsignup #actioncontainer .contents button.social img {
          height: 50%; } }
    section#postsignup #actioncontainer .contents .span3 {
      margin-left: 7px; }
      section#postsignup #actioncontainer .contents .span3 div {
        padding: 0 0 0 5px; }
      @media (max-width: 767px) {
        section#postsignup #actioncontainer .contents .span3 {
          margin-left: 0;
          margin-bottom: 20px; } }
  section#postsignup #actioncontainer #contactleg h2 {
    background-color: #405342; }
  section#postsignup #actioncontainer #contactleg button {
    background-color: #389e3f;
    font-size: 14px; }
  section#postsignup #actioncontainer #contactleg .contents {
    background-color: #D4E5DE; }
  section#postsignup #actioncontainer #donate h2 {
    background-color: #514642; }
  section#postsignup #actioncontainer #donate button {
    background-color: #c24b24;
    font-size: 14px; }
  section#postsignup #actioncontainer #donate .contents {
    background-color: #EFE3E6; }
  section#postsignup #actioncontainer #volunteer h2 {
    background-color: #585238; }
  section#postsignup #actioncontainer #volunteer button {
    background-color: #bea324;
    font-size: 14px; }
  section#postsignup #actioncontainer #volunteer .contents {
    background-color: #E9E1CC; }
section#postsignup .fixed-right {
  top: 15px; }
  @media (min-width: 768px) and (max-width: 959px) {
    section#postsignup .fixed-right {
      top: 15px;
      position: fixed; } }
  @media (max-width: 767px) {
    section#postsignup .fixed-right {
      display: none; } }
section#postsignup .stuck-right {
  top: 731px; }
  @media (min-width: 768px) and (max-width: 959px) {
    section#postsignup .stuck-right {
      top: 741px; } }
  @media (max-width: 767px) {
    section#postsignup .stuck-right {
      display: none; } }
section#postsignup #progress .blue-header {
  color: #ecf0f1;
  text-align: center;
  height: auto;
  line-height: auto;
  padding-top: 10px;
  background-color: #3498db;
  font-size: 15px; }
  section#postsignup #progress .blue-header p {
    font-size: 60px;
    line-height: 100%;
    color: #fff;
    padding: 4px 0;
    margin-bottom: 0; }
section#postsignup #progress .white-body {
  background-color: #a0d0f0;
  height: 220px; }
  section#postsignup #progress .white-body #progressbar {
    margin: 20px 0px 0 30px;
    height: 200px;
    width: 30px;
    float: left;
    background: url("../images/progressbar_full.png") no-repeat; }
    @media (max-width: 980px) {
      section#postsignup #progress .white-body #progressbar {
        margin: 20px 0 0 10px; } }
  section#postsignup #progress .white-body #progressbar-over {
    height: 100px;
    width: 30px;
    float: left;
    background: url("../images/progressbar_empty.png") no-repeat; }
  section#postsignup #progress .white-body #labels {
    line-height: 400%;
    text-transform: uppercase;
    padding-left: 7px;
    font-weight: 100;
    float: left; }
    @media (max-width: 980px) {
      section#postsignup #progress .white-body #labels {
        font-size: 13px;
        line-height: 434%; } }

@media (max-width: 767px) {
  body {
    padding: 0; }

  section {
    padding: 0 10px 0 10px; }

  body#postsignup section#examples {
    display: none; }
  body#postsignup section#news-press {
    display: none; }
  body#postsignup section#organizations {
    display: none; }
  body#postsignup section#fix-supporters {
    display: none; } }
.embed-wrapper {
  max-width: 800px;
  margin: auto;
  /* this is just for centering, not crucial for responsiveness */ }

iframe.newsbound-embedded {
  width: 100%;
  height: 100%; }

@media (max-width: 767px) {
  .marg-top {
    margin-top: 15px; } }
