 $font: "kaffeesatz";
$font: "Yanone Kaffeesatz";

#gray-background {
	background-image: url('../images/background.jpg');
	background-repeat: repeat;
	height:6500px;
}

.navbar {
	height:67px;
	margin-bottom:0px;

	.brand {
		padding:0;
	}
	.nav-container {
		margin-left: auto;
		margin-right: auto;
		width:940px;
	}
	.nav-supporters {
		margin-top:13px;
		float:right;
	}
}

.overlay {
	position:fixed;
	z-index: 5;
	bottom: 0px;
	left: 0;
	right: 0;
	height: 54px;
	background-color:#171717;
	.convinced {
		height: auto;
		width: auto;
		margin-top: -43px;
		margin-left: 225px;
	}
}

h1, h2, h3, h4, p {
	font-family:$font;
	color:#f1f1f1;
	font-weight:300;
}

#step1 {
	margin-top:50px;

	h1 {
		font-family: $font;
		font-size: 60px;
		text-align:center;
		color: #f1f1f1;
		font-weight:300;
		letter-spacing: 1;
	}

	.not-quite {
		margin-top:60px;
		margin-bottom:60px;
	}

	h2 {
		font-family: $font;
		text-align:center;
		color: #f1f1f1;
		font-weight:300;
		font-size: 30px;
	}
}

#two {
	margin-top:140px;
}
#step2 {
	
	background-image: url('../images/computer.png');
	background-repeat:no-repeat;
	background-position:center;
	height:1200px;
	text-align:center;

	.phone {
		width:610px;
		height:310px;
		margin-left:100px;
		padding-top:120px;

		p {
			font-size:36px;
		}

		.below{
			margin-top:140px;
			line-height: 1.1;
		}
	}

	.computer {
		width:600px;
		height:360px;
		margin-top:300px;
		margin-left:150px;

		p{
			font-size:38px;	
			line-height: 1;
		}

		.blue {
			color:#62c8de;
			font-size:44px;
			margin-top:120px;
		}

		.pink {
			color: #d41f41;
			font-size:44px;
		}
	}
}

#three {
		padding-top:150px;
		margin-top:150px;
}
#step3 {
	h2 {
		font-size:60px;
		}
	h3 {
		color:#e53f4d;
		font-size:48px;
		margin-top:30px;
		}
	p {
		margin-top:20px;
		font-size: 30px;
		line-height:1.3;
		font-weight:100;
		color:rgb(179, 179, 179);
		}

	.smaller {
		font-size:24px;
	}
}

#four, #five, #six, #seven {
	margin-top:150px;
	padding-top:150px;
}
#step4, #step5, #step6 {
	h2{
		font-size:48px;
		text-align:center;
		margin-top: 20px;
		line-height:1.1;
	}
}

#step7 {
	h2 {
		font-size:42px;
		text-align:center;
		margin-top: 20px;
		letter-spacing: 1;
	}
	h3 {
		margin-top:20px;
		color: #e1d400;
		font-size:30px;
		text-align:center;
		letter-spacing: 1;
	}

	h4 {
		margin-top:20px;
		color:#e10000;
		font-size:48px;
		text-align:center;
		letter-spacing: 1;
	}

	p {
		font-size:30px;
		text-align:center;
		font-weight:100;
		margin-top:30px;
		color:#cecece;
		line-height: 1.4;
		letter-spacing: 1;
	}

	.smaller {
		font-size:24px;
		text-align:center;
		font-weight:100;
	}
}
#eight {
	margin-top:70px;
	padding-top:100px;
}
#step8 {
	h3 {
		font-size:32px;
		color: #cecece;
		text-align:center;
		margin-top:30px;
		margin-bottom:30px;
	}
}

.add {
	margin-left:40px;
	font-family:$font;
	font-size:18px;
}
#blue {
	background-image: url('../images/blue.png');
	background-repeat:repeat;
	height:1090px;
	padding-top:50px;

		p {
			font-size:30px;
			line-height: 1.5;
			margin-left:15px;
			margin-top:25px;
			color:#ffffff;
		}

		.pink-lift {

		}

		li {
			list-decoration:none;
			font-family:$font;
			font-size:28px;
			line-height:2;
			margin-left:5px;
			color:#ffffff;
			font-weight:100;
			letter-spacing: 1;
		}
	

	h1, h2 {

		margin-top:50px;
		margin-bottom:50px;
		font-size:48;
		line-height: 1.2;
	}
	h1 {
		color:#faf692;
		text-align:left;
	}

	h2 {
		text-transform:uppercase;
		letter-spacing: 3;
		text-align:center;
	}

	.supporters {
		margin-top:30px;
		h1 {
			text-align: left;
			margin-left:15px;
		}

		.supporter-list {
			li {
				list-style: none;
				list-style-image: none;
				list-decoration:none;
				margin-top:-2px;
				font-size:18px;
			}

			a {
				color:#f1f1f1;
				&:hover {
					color:#9d9d9d;
					text-decoration: none;
				}
			}
		}
	}
}

.mustard {
	background-image:url('../images/mustard.jpg');
	height:135px;
	h3 {
		font-size:36px;
		color: #353535;
		text-align:center;
		margin-top:30px;
		line-height:1.7;
		letter-spacing: 1.3;
	}

	p {
		color:#353535;
		font-size:24px;
		margin-top:15px;
		text-align:left;
	}

	h2 {
		font-size:30px;
		color:#353535;
		margin-top:0px;
		margin-bottom:0px;
		text-align:left;
	}

}

.join {
	background-image: url('../images/join.png');
	height:75px;
	margin-top:-1px;

	h2 {
		margin:0px;
		padding-top:17px;
		padding-bottom:17px;
		text-transform:uppercase;
		text-align:center;
		font-weight:400;
		font-size:34px;
	}

	.container {
		padding-top:30px;

		.action {
			border:1px solid #b0b0b0;
			padding:15px;
			float:left;
			width:100%;
			color: #353535;	
			margin-top:-1px;
			
			.hide {
				display:none;
			}

			p {
				color: #353535;	
				font-size:24px;
				font-weight:100;
			}

			.actiontitle {
				h3 {
				font-family: $font;
				font-size:37px;
				float:left;
				font-weight:400;
				color: #353535;	
				letter-spacing: 1;
				}
				p {
					font-family: $font;
					font-size:22px;
					height:40px;
					padding-top:1px;
					font-weight:100;
				}
			}

			.share, .legislator {

				padding-top:20px;

				.alabel {
					width:100px;
					float:left;
					font-family: $font;
					font-size:22px;
					height:40px;
					padding-top:1px;
					font-weight:100;
				}

				.socialcontent {
					float:left;
					width:360px;
				}
			}

			.legislator{
				padding-top:0px;
				padding-bottom:5px;
				.alabel {
					width:170px;
				}

				.span6 {padding-top:20px;}

				.zipcode {
					float:left;
					width:250px;
					margin-bottom:10px;

					input {
					height:45px;
					margin-top:-10px;
					width:100px;	
						margin-bottom:4px;
					}

					#zipsubmit {
						background-color: #2ecc71;
						background-image:none;
						margin-top:-10px;
						margin-bottom:4px;
					}
				}

				#choosereason {
					margin-top:38px;
					//font-family: $font;

					.options {
						margin-left:80px;
					}

					label {
						font-size:17px;
						font-weight:300;
						margin-top:20px;
					}

					p {
						font-weight:400;
						letter-spacing: 1;
					}
				}

				#legtweets {

					margin-top:25px;


					.legtweet {
						
						font-size:15px;
						border: 1px #ccc solid;
						background: #f6f6f6;
						margin:5px;
						margin-left:25px;
						padding: 10px 15px;

						.span2 {
							padding-top:5px;
							margin-left:20px;
							text-align:right;
						}

						.span9 {margin-left:0}

						.blue {color: #2980B9;}
					}

				}

			}
		}

		.email {
			padding-left:13px;

			.check-in{
				margin-top:20px;

				input[type="checkbox"] {
					display:inline;
					float:left;
				}

				label.label-optin {
					display:inline;
					margin-top:12px;
					margin-left:10px;
					float:left;
					letter-spacing: 1;
				}
			}
			h3 {
				font-family: $font;
				font-size:37px;
				font-weight:400;
				color: #353535;	
				letter-spacing: 1;
			}

			p {
				font-size:24px;
				font-family:$font;
				letter-spacing:1;
			}

			#email-form{
				margin-top:60px;

				label {
					font-family: $font;
					font-size:24px;
					color:#353535;
					font-weight:300;
				}
				input {
					display:inline;
					height:30px;
					margin-top:8px;
				}

				div {margin-right:15px;}

				.name {
					width:175px;
					float:left;
					display:inline;
					input {width:175px;}
				}

				.email, .street {
					width:210px;
					float:left;
					display:inline;
					input {width:210px;}
				}

				.zip {
					width:90px;
					float:left;
					display: inline;
					input {width:90px;}
				}

				#email-send{
					width: 130px;
					height:54px;
					margin-top:10px;
					float:right;
				}
			}

			.behalf {
				margin-top: 40px;
			}

			.email-text {
				font-family:"Arial";
				font-size:13px;
				color: #353535;
				letter-spacing: 0;
				padding-right:15px;
				margin-top:25px;
			}

		}
	}


}


.about {
	background-image: url('../images/background.jpg');
	background-repeat: repeat;
	height:800px;
	margin-top:80px;

	.about-push {
		margin-top:30px;
	}

	h4{
		color:#e1d400;
		margin-top:23px;
	}

	p {
		font-size:18px;
		letter-spacing: 1;
	}
}
